extends layout

block content
  if categories.length
    ol.categories
      each category in categories
        li
          img(src=category.imgUrl, alt=!category.name)
          a(href=category.url) !{category.name}
  else 
    p There are no categories available at the moment. 