extends layout

block content
  h1= title
  if categories.length
    ol
      each category in categories
        li
          a(href=category.url) !{category.name}
  else 
    p There are no categories available at the moment. 