extends layout
block content
  h1= title
  if items.length
    ol
      each item in items
        li 
          a(href=item.url) #{item.name}
  else
    p There are no items available at the moment. 