extends layout

block content
  img(src=item.titleImgUrl, alt!=item.name)
  //- item.name is un escaped because it'll only ever use sanitized data from the database. If escaped, might show html entities to the user!
  p Are you sure you want to delete this item?

  form(method="post")
    input(type="hidden", name="itemId", value=item._id)
    button(type="submit") Delete