*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --txt-clr: black;
  --bg-clr: white;

  @media (prefers-color-scheme: dark) {
    --txt-clr: white;
    --bg-clr: #121212;
  }
}

body {
  padding: 20px;
  margin: 0;
  color: var(--txt-clr);
  background-color: var(--bg-clr);
}
